{% extends "scata2_base.html" %}

{% block scata2_content %}

<ul>
    <li><a href="{% url "primer-list" %}">Primers</a></li>
    <li><a href="{% url "tagset-list" %}">Tagsets</a></li>
    <li><a href="{% url "amplicon-list" %}">Amplicons</a></li>
    <li><a href="{% url "referenceset-list" %}">Reference sets</a></li>
{% comment %}
    <li><a href="{% url "dataset-list" %}">Datasets</a></li>
    <li><a href="{% url "job-list" %}">Jobs</a></li>
 {% endcomment %}
    <li><a href="{% url "file-list" %}">Files</a></li>
</ul>
        

Welcome
{% endblock %}
