{% extends "scata2_list.html" %}

{% block title %}Reference sets{% endblock %}

{% block table_head %}
<th class="{{ cell_class }}"> Name </th>
<th class="{{ cell_class }}"> Sequence count </th>
<th class="{{ cell_class }}"> Status</th>
<th class="{{ cell_class }}"> Progress </th>

<th class="{{ cell_class }}">  </th>
<th class="{{ cell_class }}">  </th>
{% endblock %}
{% block table_body %}
    {% for refset in object_list %}
        <tr class="{{ row_class }} {% cycle  row_odd row_even %}">
            <td class="{{ cell_class }}">
                {{ refset.name }}
                {% if refset.public %}(Public){% endif %}
            </td>
            <td class="{{ cell_class }}">{{ refset.seq_count }}</td>
            <td class="{{ cell_class }}">
                {% if refset.validated %}
                    {% if refset.is_valid %}
                        Ready
                    {% else %}
                        Failed
                    {% endif %}
                {% else %}
                    Pending
                {% endif %}
            </td>
            <td class="{{ cell_class }}">{{ refset.progress }}</td>
            <td class="{{ cell_class }}"> 
                {% if refset.validated %}
                    <a class="{{ button_class }}" href="{% url "referenceset-detail" refset.id %}">Details</a>
                {% endif %}
            </td>
            <td class="{{ cell_class }}"> 
                {% if not refset.public %}
                <a class="{{ button_class }}" href="{% url "referenceset-delete" refset.id %}">Delete</a>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
{% endblock %}
{% block add_link %}<a class="{{ button_class }}" href="{% url "referenceset-add" %}">Add reference set</a>{% endblock %}
